<ion-view>
  <ion-nav-title>My Festivals</ion-nav-title>
  <ion-nav-buttons side="right" class="show">
    <button class="button button-icon icon ion-android-add" ng-click=""></button>
  </ion-nav-buttons>

  <ion-content>
    <!-- content goes here -->
    <ion-list id="my-festivals-list" ng-if="festivals && festivals.length > 0">
      <ion-item
        collection-repeat="f in festivals"
        class="item-remove-animate"
        type="item-text-wrap"
        item-height="100"
        ui-sref="main.festival.lineup({festivalId: f.id})">
        <img ng-src="/img/banners/{{f.get('shortName').toLowerCase()}}.png"/>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
