<ion-view>
  <ion-nav-title>{{festival.get('name')}}</ion-nav-title>

  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()"></button>
  </ion-nav-buttons>



  <ion-content scroll="false" class="festival-content">

      <div id="festival-timeline"></div>


      <div id="artists-list-container">

        <ion-alpha-scroll id="artists-list" ng-model="artists" key="name">
          <div class="artist-avatar" bg-img="{{item.avatar}}"></div>
          <div>{{item.name}}</div>
        </ion-alpha-scroll>

        <div ng-if="artists !== undefined && !artists.length" class="no-results">
          <h3>No artists found!</h3>
        </div>

      </div>


  </ion-content>
</ion-view>
