<ion-view>
  <ion-nav-title>{{festival.get('name')}} Landmarks</ion-nav-title>


  <ion-content>
    <ion-list class="landmarks-list" ng-if="landmarks && landmarks.length > 0">
      <ion-item class="item item-divider">
        Stage
      </ion-item>
      <ion-item ng-repeat="landmark in landmarks"
                ng-if="landmark.get('category') == 'Stage'"
                ui-sref="main.festival.map">
        {{landmark.get('name')}}
      </ion-item>

      <ion-item class="item item-divider">
        Food
      </ion-item>
      <ion-item ng-repeat="landmark in landmarks"
                ng-if="landmark.get('category') == 'Food'"
                ui-sref="main.festival.map">
        {{landmark.get('name')}}
      </ion-item>

      <ion-item class="item item-divider">
        Drinks
      </ion-item>
      <ion-item ng-repeat="landmark in landmarks"
                ng-if="landmark.get('category') == 'Drink'"
                ui-sref="main.festival.map">
        {{landmark.get('name')}}
      </ion-item>

      <ion-item class="item item-divider">
        Charging Station
      </ion-item>
      <ion-item ng-repeat="landmark in landmarks"
                ng-if="landmark.get('category') == 'Charging Station'"
                ui-sref="main.festival.map">
        {{landmark.get('name')}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
