// Include all of Ionic. Import overrides before importing ionic.
@import "variable_overrides",
        "../bower_components/ionic/scss/ionic",
        "../bower_components/vis/dist/vis",
        "../bower_components/ion-alpha-scroll/src/ion-alpha-scroll",
        "../bower_components/ionic-filter-bar/scss/ionic.filter.bar";


#my-festivals-list {
  .item {
    border: none;
    max-height: 100px;

    .item-content { padding: 16px; }
    img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }
}

.festival-content {
  display: flex;
  flex-direction: column;

  #festival-timeline {
    position: relative;
    flex: 3;

    .vis-timeline { position: absolute; height: 100% !important; width: 100%; border: none; }
  }

  #lineup-list-container {
    position: relative;
    flex: 5;

    #lineup-list { position: absolute; height: 100%; width: 100%; }
    .list, .scroll-view { height: 100% !important; }

    ul.ion_alpha_sidebar { position: absolute; li { line-height: 14px; } }

    .artist-list-item {
      & > * { display: inline-block; }

      .artist-avatar {
        width: 64px;
        height: 64px;
        vertical-align: middle;
        margin-right: 7px;
      }
    }
  }

}


.vis-timeline {
  border: none;
}
