.login-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background:
    linear-gradient(to top, #FFFFFB 0%, #FDF7E7 30%, #FFFFFB 120%) center top / 100% 50% no-repeat,
    url('../img/festival-crowd.jpg') center bottom / auto 70% no-repeat;

  .button-row img { cursor: pointer; max-width: 80%; }
  .header { flex: 4; margin-top: 45px; display: flex; align-items: center; }
  .logo {
    font-family: 'Homemade Apple', cursive, sans-serif;
    font-weight: bold;
    font-size: 48px;
    margin: 0 auto;
    vertical-align: middle;
    max-height: 80%;
    max-width: 80%;
    width: auto;
  }

  span { color: #FDF7E7; a { color: $positive; } }
}
