<ion-view view-title="All Festivals">
  <ion-nav-buttons side="right" class="show">
    <button class="button button-icon icon ion-android-add" ng-click=""></button>
  </ion-nav-buttons>

  <ion-content>
    <!-- content goes here -->
    <br>
    <ion-list class="festivals-list" ng-if="festivals && festivals.length > 0">
      <ion-item
        collection-repeat="f in festivals"
        class="item-remove-animate"
        type="item-text-wrap"
        item-height="100"
        ui-sref="main.festival({festivalId: f.id})">
        <img ng-src="{{f.banner}}"/>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
